/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/
html {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	background-color: #fdf6e3; 
	color: #586e75;
	background: #073642 url(img/darknoise.png) repeat 0 0;
}

body {
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 0.1em;
}

a {
	color: #268bd2; 
	text-decoration: none;
}

a:visited {

}

a:hover {
	text-decoration: underline;
}

div#topheader h1 a, div#topheader h1 a:hover {
	color: #fdf6e3;
}

div#topheader {
	height: 2.5em;
	color: #fdf6e3;
	position: relative;
}

div#topheader h1 {
	position: absolute;
	bottom: -0.25em;
	font-size: 2.0em;
	line-height: 1em;
	padding-left: 0.1em;
}

div#maincontentbg {
	background-color: #fdf6e3;
}
div#maincontent {
	background-color: #fdf6e3;
	padding-top: 0.5em;
	line-height: 115%;
}

div#firstpost div.keepreading{
	position: relative;
	text-align: right;
	font-size: 0.8em;
	top: -1em;
}

div.date {
	position:relative;
	font-size: 0.5em;
	top: -0.8em;
}

div#firstpost div.date {
	position: relative;
}

div#firstpost h2 {
	font-size:2em;
	line-height: 0.8em;
	margin-bottom: 0.2em;
}

div#firstpost p, div.post > div.postbody > p:first-child {
	font-size:0.75em;
}

div#firstpost div.keepreading {
	position: relative;
	right: 0px;
}

div.post p {
	font-size: 0.5em;
	margin-bottom: 0.75em;
	line-height: 120%;
}

div#othercontent{
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

div#previous div.date, div#editorial div.date {
	font-size: 0.5em;
}

div#sitefooter {
	width: 100%;
	padding-top: 1em;
	color: #eee8d5;
	font-size: 0.5em;
	height: 20em;
}

div#sitefooter a {
	color: #cb4b16;
}

div.copyright p {
	margin-bottom: 1em;
}

pre code {
	font-family: 'Inconsolata', sans-serif;
	font-size: 0.5em;
	line-height: 100%;
	margin-bottom: 0.5em;
	margin-right: 1.5em;
	margin-left: 1.5em;
}
