<!DOCTYPE html>
<html>
<head>
	<title>Site Title</title>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/reset.css" type="text/css">
	<link rel="stylesheet" href="css/grid.css" type="text/css">
	<link rel="stylesheet" href="css/site.css" type="text/css">
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29644185-1']);
	  _gaq.push(['_setDomainName', 'sillik.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<link rel="stylesheet" href="js/highlight/styles/solarized_dark.css" type="text/css">
	<script type="text/javascript" src="js/highlight/highlight.pack.js"></script>
	<script type="text/javascript">
	    hljs.initHighlightingOnLoad();
	</script>
</head>
<body>
<div id="topheader">
	<h1><a href="/">Site Title</a></h1>
</div>
<div id="maincontentbg">
<div id="maincontent" class="container_12">
  {{ content }}
</div>
</div>
<div class="clear"></div>
<div id="sitefooter">
	<div class="container_12">
		<div class="links grid_3 suffix_1">
			<ul>
				<li><a href="">Archives</a></li>
				<li><a href="">Github</a></li>
				<li><a href="">Twitter</a></li>
				<li><a href="">About</a></li>
			</ul>
		</div>
		<p class="about grid_3 suffix_1">
			Here is some information about <em>this</em> site 
			also some stuff about the <a href="">subjects</a>,
			<a href="">that</a>, <a href="">it</a> covers.
		</p>
		<div class="copyright grid_3 suffix_1">
			<p>
			Copyright &copy; 2012 Nick Sillik.
			</p>
			<p>
			This work by Nick Sillik is licensed under a Creative Commons Attribution 3.0 Unported License.	
			</p>
			<div>
				<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" />
			</div>
		</div>
	</div>
</div>
</body>
</html>
